browser-use==0.1.48
pyperclip==1.9.0
streamlit==1.31.0
json-repair
langchain-mistralai==0.2.4
MainContentExtractor==0.0.4
langchain-ibm==0.3.15
langchain_mcp_adapters==0.0.9
langgraph==0.3.34
langchain-community
python-dotenv
openai
requests

